# Order matters: entries that are further down override any entries above them

/crates/pallet-*                  @vedhavyas
/crates/pallet-subspace           @vedhavyas
/crates/sc-consensus-*            @nazar-pc
/crates/sc-proof-of-time          @nazar-pc
/crates/sp-*                      @vedhavyas
/crates/sp-consensus-subspace     @vedhavyas
/crates/subspace-archiving        @nazar-pc
/crates/subspace-farmer*          @nazar-pc
/crates/subspace-networking       @nazar-pc
/crates/subspace-proof-*          @nazar-pc
/crates/subspace-runtime*         @vedhavyas
/crates/subspace-service          @nazar-pc
/crates/subspace-node             @vedhavyas
/domains                          @vedhavyas
/shared/subspace-proof-*          @nazar-pc
