*
# Just enough files for `git rev-parse --short HEAD` to work (used in Substrate node build)
!/.git/refs/heads
!/.git/config
!/.git/HEAD
!/crates
!/cumulus
!/polkadot
!/substrate
!/Cargo.lock
!/Cargo.toml
